.App {
  text-align: center;
  background-color: lemonchiffon;
  display: flex;
  flex-direction: column;
  margin: 0;
  min-height: 100vh;
}

#funFacts {
  background: url('https://static7.depositphotos.com/1278966/761/i/600/depositphotos_7616729-stock-photo-numbers-background-light.jpg') center no-repeat;
  background-size: cover;
  min-height: 80vh;
  margin: 0;
  padding: 0;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-items: center;
}

.factcontainter {
  min-width: 50%;
  width: 700px;
  height: 550px;
  margin-left: 10%;
}

#funFacts h3 {
  min-width: 50%;
  width: 700px;
  margin-left: 10%;
}

#funFacts button {
  max-width: 50%;
  width: 300px;
  margin: 10px auto;
  border: slategrey solid 2px;
  border-radius: 5px;
}

.funFact {
  margin: auto;
  padding: 10px;
  width: 85%;
  height: 95%;
  min-height: fit-content;
  font-size: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgba(211, 211, 211, 0.65);
  box-shadow: slategrey 5px 5px 5px;
  border-radius: 50px;
}



#jokes {
  background: url('https://t3.ftcdn.net/jpg/01/63/24/34/360_F_163243451_uNQ0OqyR2FCAqkwRonQUH7KcdBTW6Bkr.jpg') center no-repeat;
  background-size: cover;
  min-height: 80vh;
  width: 100%;
  margin: 0;
  padding: 0;
  background-color: black;
  color: orange;
}
.jokes {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: space-around;
  font-weight: bold;
}

.joke {
  color: black;
  background-color: rgba(248, 196, 26, 0.712);
  width: 17%;
  height: 300px;
  min-height: fit-content;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 5px 0;
  padding: 5px;
}

.hide {
  background-color: black;
  color: orange;
}
.show, #refreshbtn {
  color: black;
  background-color: orange;
}


.joke p {
  margin: 0;
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.jokeid {
  height: 10%;
  margin: 0;
  padding: 0;
}
.setup {
  height: 40%;
  margin: 0;
  padding: 0;
}

.punchline {
  height: 50%;
  width: 100%;
}

#punchline {
  width: 95%;
  height: 100%;
  margin: 0 auto;
  padding: 0 2px;
  background-color: rgba(0, 0, 0, .75);
  color: orange;
}

.jokesearch {
  width: 80%;
  margin: 0 auto;
  height: 15px;
  border-color: orange;
  font-weight: bold;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  background-color: rgba(248, 196, 26, 0.412);
  color: black;
}

.radiobtn {
  width: 22%;
  padding: 0;
  margin: auto 0;
  display: flex;
  flex-direction: row;
  align-items: center;
}

input.radiobtn {
  width: 30%;
}

#jokesearch {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin: 0;
  padding: 0;
}

#refreshbtn {
  margin: 0 auto;
  padding: 0;
}

.header {
  height: 13vh;
  display: flex;
  flex-direction: column;
  margin: 0;
  justify-content: flex-end;
  background: url('https://t3.ftcdn.net/jpg/02/86/18/20/360_F_286182066_yY72dajL2Vv9pYZ0LWiDiYZrMEStz0Fo.jpg') no-repeat;
  background-size: cover;
}

.header h1 {
  margin: 0;
  text-shadow: rgb(194, 129, 10) 5px 5px 5px;
  font-size: 50px;
  height: 10vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

nav {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  margin: 0;
  height: 3vh;
  font-weight: bold;
}

main {
  flex-grow: 1;
  min-height: 80vh;
  width: 100%;
  margin: 0;
  padding: 0;
}

footer {
  height: 7vh;
  text-align: center;
  background-color: #ffa600;
  background-repeat: no-repeat;
  background-size: cover;
}

a {
  color: inherit;
  text-decoration: none;
  height: 25px;
  font-weight: bold;
}

h3 {
  margin: 0 auto;
  padding: 10px 0;
  font-size: 40px;
}

.user {
  margin: 0;
  min-height: 80vh;
  width: 100%;
  margin: 0;
  padding: 0;
}

h2 {
  padding: 50px 0;
  margin: 0;
}

.container {
  width: 500px;
  margin: 0 auto;
}
input, 
select, textarea{
  width: 400px;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  resize: vertical;
}

label {
  width: 20%;
  padding: 12px 12px 12px 0;
  display: inline-block;
  text-align: right;
}
input[type=submit], #deletebtn, #editbtn {
  background-color: rgb(214, 155, 45);
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  width: 200px;
  margin: 20px auto;
}

form {
  display: flex;
  flex-direction: column;
  width: 500px;
}

form div {
  display: flex;
  flex-direction: row;
}

input {
  width: 80%;
}

.userinfo {
  margin: 5px 0;
}

button, input[type=submit]  {
  font-size: inherit;
  font-weight: bold;
}

.profile {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  height: 500px;
}

img {
  width: 300px;
  min-height: 300px;
  max-height: 500px;
  margin-left: 20px;
}

.profileinfo {
  width: 100px;
  font-size: 30px;
  text-overflow: wrap;
}
.profileedit {
  max-width: 50%;
  width: 500px;
}

.profilecontainer {
  padding: 0;
  margin: 0 auto;
  width: 100%;
}

.profilecontainer form {
margin: 0 auto;
max-width: 100%;
}

.login {
  background: url(./images/emoji-lemonchiffon.png) bottom no-repeat;
}

.signup {
  background: url(./images/emoji-lemonchiffon-flipped.png) bottom no-repeat;
}

#home {
  background: url('https://freerangestock.com/sample/52688/colourful-wave-background-shows-wavy-design-artwork-.jpg') center no-repeat;
  background-size: cover;
  min-height: 80vh;
  margin: 0;
  padding: 0;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-items: center;
  flex-wrap: nowrap;
}

.home-container1 {
  display: flex;
  flex-direction: row-reverse;
  justify-items: center;
  margin: 2% 5%;
}
.home-container2 {
  display: flex;
  flex-direction: row;
  justify-items: center;
  margin: 2% 5%;
}

.home-btn {
  width: 300px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.home-btn button {
  width: 150px;
  height: 150px;
  border: black 5px solid;
  border-radius: 100%;
  background-image: url(./images/search-icon.png);
  /* background-image: url(./images/emoji.png); */
  /* background-image: url(https://www.kindpng.com/picc/m/69-698613_search-icon-blue-circle-blue-search-icon-png.png); */
  background-position: center;
  background-size: 150px;
}

.home-btn button a {
  height: 100%;
}

.home-content {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  width: 60%;
  flex-grow: 2;
  border: black 2px solid;
  background-color: rgba(173, 216, 230, 0.534);
  height: 30vh;
  padding: 5px 20px;
  font-size: 30px;
  font-weight: bold;
  align-items: center;
  justify-content: center;
}

.home-fact p {
  height: 100%;
  display: flex;
  align-items: center;
}
.home-joke p {
  height: 50%;
  display: flex;
  align-items: center;
}